
nav, a, span {
    color: red
}
 

.first {
    height: 400px;
    width: 400px;
}

.second {
    height: 600px;
    width: 600px;
}

.third {
    height: 600px;
    width: 800px;
}

header {
    background-color: darkgray;
}

ul {
    list-style: none;
}

body {
    background: lightgray;
}


    